<div class="container container--home">
    <h1>{{title}}</h1>
    <div class="container f-end">
        <label for="order">type</label>
        <select [(ngModel)]="optionSelect" (change)="getMovies()">
            <option *ngFor="let i of list">{{i}}</option>
        </select>
    </div>
    
    <div class="container">
        <div class="grid">
            <div *ngFor="let r of results" class="card">
                <div>
                    <div class="card-header"> {{r.display_title}} </div>
                    <div class="card-img">
                        <a [routerLink]="[ '/detail', r.display_title ]"><img src="{{r.multimedia.src}} " alt=""></a>
                    </div>
                    <div class="card-desc">
                        <small><i>{{r.publication_date}}</i> </small>
                        <p>{{r.summary_short}} </p>
                    </div>
                    <div class="btn--group">
                        <a [routerLink]="[ '/detail', r.display_title ]" class="btn btn--primary">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>