/* VARIABLES */

// Colors

$primary-color: rgba(0, 0, 0, 0.3);
$secondary-color: rgba(92, 3, 3, 0.699);
$bg-color: #4d4d4d;

$black: #000;
$lBlack: #292929;
$blue: #1DA1F2;

$white: #FFF;



// Global Font
$fontFamily: arial, sans-serif;
$baseFont: 16;

//shadow

$box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

