@import url('https://fonts.googleapis.com/css?family=Livvic:100,400,700&display=swap');


// font-family: Livvic;
$Livvic: 'Livvic',  sans-serif;  

.taC {
	text-align: center;
}
 
.taR {
	text-align: right;
}

.taL {
	text-align: left;
}

.taJ {
	text-align: justify;
}

